* {
    font-family: arial, sans-serif;
}

.header{
    text-align: center;
}

.button-container,
.results {
    text-align:center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    background-color: white;
    width: 200px;
}

button:hover {
    background-color: rgb(240, 44, 44);
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}