* {
    font-family: arial, sans-serif;
}

.header{
    text-align: center;
}

.button-container,
.results {
    text-align:center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.choices {
    display: flex;
    flex-direction: column;
}

img {
    height: 200px;
    width: auto;
}